html,body{
font-family: 'Lato',sans-serif;
color: #808080;
font-size: 14px;
font-weight: normal;
line-height: 24px;
padding:0;
margin:0;
height:100%;
width:100%;
}
h1 ,h2,h3,h4 ,h5{
color:#2d2d29;
}
label{
color:#2d2d29;
}
input ,select{
outline:none;
}
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 2px;
}

input.form-submit, a.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/buttons.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    background-color:#f3f4f5;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-image: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #5A5A5A;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 4px 17px;
    text-align: center;
}
fieldset legend {
color:#4BBCD7;
font-weight:bold;
}

a{
/*transition: all 300ms linear 0s;*/
color:#4BBCD7;
text-decoration:none;
}
a:hover{
color: #2d2d29;
text-decoration:none;
}

.tabs {
    margin-bottom: 20px;
}
.tabs ul.primary {
    background: url(../images/tabs-border.png) repeat-x scroll left bottom rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;
}
.tabs ul.primary li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    vertical-align: bottom;
}
.tabs ul.primary li.active a {
    border-bottom: 1px solid #FFFFFF;
}
.tabs ul.primary li a {
    background-color: #EDEDED;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: block;
    float: left;
    font-size: 0.929em;
    height: 1.8em;
    line-height: 1.9;
    margin: 0;
    padding: 0 10px 3px;
    text-shadow: 0 1px 0 #FFFFFF;
    color:#2d2d29;
}
.tabs ul.primary li.active a {
    background-color: #FFFFFF;
}
.tabs ul.secondary {
    border-bottom: medium none;
    padding: 0.5em 0;
}
.tabs ul.secondary li {
    display: block;
    float: left;
}
.tabs ul.secondary li:last-child {
    border-right: medium none;
}
.tabs ul.secondary li:first-child {
    padding-left: 0;
}
.tabs ul.secondary li a {
    padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: medium none;
    border-radius: 5px;
}




#page{
 padding-top:10px;
 padding-bottom:10px;
}
#page_wrapper{
width:1200px;
margin:0 auto;
border:1px solid #ccc;
box-shadow: 1px 0px 10px #ccc;
}
#header{
background:#4BBCD7;
height:80px;
width:100%;
}
.header_main {
width:1024px;
margin:0 auto;
overflow:hidden;
}
.logo{
width:300px;
height:80px;
float:left;
margin-right:300px;
line-height:80px;
}

.logo a{
font-size:30px;
color:#fff;

}

#block-user-login h2{
display:none;
}
#block-user-login .form-item{
float:left;
margin-right:15px;
}
#block-user-login .item-list{
display:none;
}
#block-user-login #edit-actions{
margin:0px;
padding-top:38px;
}
#block-user-login .form-item label{
font-size:11px;
color:#fff;
}
#block-user-login .form-item label span{
display:none;
}
#block-user-login .form-item input{
border:1px solid #808080;
width:150px;
padding:3px 0px 3px 0px;
}
#block-user-login .form-submit{
font-weight:bold;
    padding:2px 5px;
    text-align: center;
 border: 1px solid;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
 background: -moz-linear-gradient(center top , #67AE55, #578843) repeat scroll 0 0 #69A74E;
    border-color: #3B6E22 #3B6E22 #2C5115;
    box-shadow: 0 1px 1px #A4E388 inset;
background: -webkit-gradient(linear, center top, center bottom, from(#67ae55), to(#578843));
background: -webkit-linear-gradient(top, #67ae55, #578843);
background-color: #69a74e;
-webkit-box-shadow: inset 0 1px 1px #a4e388;

}

.header_main .user_block{
width:200px;
float:right;
height:70px;
margin-left:50px;
padding-top:10px;
color:#fff;
font-size:14px;
}

.header_main .user_block img{
width:60px;
height:50px;
float:left;
margin-right:10px;
}
.header_main .user_block a{
color:#fff;

}
#footer{
height:40px;
background:#4BBCD7;
}
#footer .footer_main{
width:1024px;
margin:0 auto;

}

.footer_main{
padding-top:10px;
}
#block-menu-menu-footer-menu{
width:650px;
float:left;
}
#block-block-2{
width:374px;
float:left;
height:30px;
}
#block-block-2 p{
margin:0px;
color:#fff;
font-weight:bold;
}
#block-menu-menu-footer-menu h2{
display:none;
}
.footer_main  ul.menu{
padding:0px;
margin:0px;
}
.footer_main  ul li{
list-style-type:none;
list-style-image:none;
float:left;
padding:0px;
line-height:15px;
border-right:2px solid #fff;
padding-right:5px;

margin-left:5px;
}
.footer_main  ul.menu li a{
font-weight:bold;
color:#fff;
}

.footer_main  ul li.last{
border-right:none;
}
.footer_main  ul li a.active{
color:#fff;
}

#center{
width:1024px;
margin:0 auto;
}
#middle{
overflow:hidden;
padding:1em 0px 1em 0px;
}
#block-orlounge-join{
width:580px;
float:left;
}

.dt-sc-ico-content.type3 {
    padding: 0px 0px 0px 110px;
    position: relative;
    width: auto;
}

.dt-sc-ico-content.type3 h5 a{
font-size:16px;
color:#2d2d29;
}

.dt-sc-ico-content.type3 h5 a:hover{
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;
color:#4BBCD7;
}

.dt-sc-ico-content.type3 .icon {
    left: 0;
    position: absolute;
}

.dt-sc-ico-content.type3 .icon span {
    border: 3px solid;
    border-radius: 80px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
    height: 84px;
    line-height: 85px;
    margin-bottom: 15px;
    text-align: center;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;
    width: 84px;

}

.dt-sc-ico-content.type3 .icon span img{

width:84px;
height:84px;
}

.dt-sc-ico-content.type3:hover .icon span {
/*
-moz-transform: scale(1) rotate(360deg) translate(0px); 
-webkit-transform: scale(1) rotate(360deg) translate(0px); 
-o-transform: scale(1) rotate(360deg) translate(0px); 
transform: scale(1) rotate(360deg) translate(0px); 
*/
}


#block-orlounge-welcome h2{
font-weight:normal;
font-size:24px;
}

#block-orlounge-home-register-form{
width:390px;
float:left;
margin-left:54px;
}
#block-orlounge-home-register-form h2{
background:#4BBCD7;
color:#fff;
margin:0px;
height:45px;
line-height:45px;
padding-left:20px;

}
#block-orlounge-home-register-form .content{
background:#f3f4f5;
padding:15px 20px 15px 20px;
}
#block-orlounge-home-register-form .content select{
padding:15px ;
border:1px solid #ccc;
width:350px;
color:#808080;
background-color: #fafafa;
}
#block-orlounge-home-register-form .content .form-item input{
width:328px;
border:1px solid #ccc;
padding:10px;
color:#ccc;
background:#fafafa;
}
#block-orlounge-home-register-form .form-item-captcha-response{
margin:0px;
}
#block-orlounge-home-register-form .form-item #edit-captcha-response{
width:50px;
display:inline;
}

#block-orlounge-home-register-form .content .form-actions{
overflow:hidden;
}
#block-orlounge-home-register-form .content .form-actions input{
background-color: #4BBCD7;
  border: medium none;
border-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 11px 20px;
    text-transform: uppercase;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;

}

#block-orlounge-home-register-form .content .form-actions input:hover {
    background-color: #808080;
}
#block-orlounge-home-faq{
clear:both;
overflow:hidden;
}

#block-orlounge-home-faq .home_content .col{
width:300px;
float:left;
margin:20px 30px 20px 0px;
}
#block-orlounge-home-faq .home_content .col .title{
color:#2d2d29;
font-weight:bold;
line-height:30px;
}
#block-orlounge-home-faq .home_content .col .link{
text-align:right;
}
#block-orlounge-home-faq .home_content .col .link a{
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
transition: all 300ms linear;
}
#welcome_page{
width:800px;
margin:0 auto;
}
#welcome_page h1{
text-align:center;
}

#welcome_page .block{
width:300px;
padding:10px;
float:left;
border:1px solid #ccc;
height:300px;
margin:50px 50px 50px 20px;
}
#welcome_page .block h4{
 margin:0px;
height:40px;
line-height:40px;
text-align:center;
font-size:20px;
font-weight:normal;
}
.region-three-25-50-25-top{
 padding-bottom:10px;
border-bottom:2px solid #4BBCD7;

}
.region-three-25-50-25-first{
width:23%;
float:left;
padding:1%;
}
.region-three-25-50-25-second {
width:48%;
float:left;
padding:1%;
}
.region-three-25-50-25-third{
width:23%;
float:left;
padding:1%;
}

.region-three-25-50-25-bottom{
  padding-bottom:20px;
}
#quicktabs-commons_bw .item-list{
display:none;
}
.full-form{
display:none;
}

#commons-bw-partial-node-form-post h3 ,
#commons-bw-partial-node-form-post .user-picture {
display:none;
}

#commons-bw-partial-node-form-post textarea{
border:1px solid #ccc;
}
#commons-bw-partial-node-form-post .form-actions,
#override-commons-post-node-form .form-actions
{
margin:0px;
background:#f3f4f5;
padding:3px;
text-align:right;
border:1px solid #ccc;
border-top:none;
}
#commons-bw-partial-node-form-post .form-actions .form-submit,
#override-commons-post-node-form .form-actions .form-submit{
font-weight:bold;
    padding:2px 5px;
    text-align: center;
 border: 1px solid;
    border-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
 background: -moz-linear-gradient(center top , #5B74A8, #5B74A8) repeat scroll 0 0 #69A74E;
border-color: #29447E #29447E #1A356E;
     box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
background-color: #5B74A8;
 margin:0px;

}
.post-content {
 overflow:hidden;
 margin-top:10px;
 margin-bottom:10px;

}

.post-content .content{
overflow:hidden;
}
.post-content .post-body,
.post-content .post-created,
.post-content .user-name{
float:left;
width:420px;
}
.post-content .post-created{
 padding-left:60px;
font-size:12px;
}
.post-content .user-name{
color:#5B74A8;
font-weight:bold;
}
.post-content .user-picture{
float:left;
width:60px;
height:60px;
}
.post-content .post-comment{
 padding-left:60px;
font-size:12px;
}
.post-content .post-comment .comment-row,
.post-content .post-comment .form-textarea-wrapper{
overflow:hidden;
clear:both;
padding:5px;
background:#f3f4f5;
border-top:2px solid #fff;
}
.post-content .post-comment .form-textarea-wrapper img{
width:40px;
height:40px;
float:left;
margin-right:5px;
}


.post-content .post-comment img{
float:left;
width:40px;
height:40px;
margin-right:10px;
}

.post-content .post-comment .comment-body{
width:350px;
float:left;
}
.post-content .post-comment .user-name{
float:none;
width:auto;
margin-right:5px;
}
.count_comment{
 margin-left:100px;
}
.post-content .post-comment .comment-date{
color:#999;
font-style:italic;
}

.post-content .post-comment .add-comment-body{
width:360px;
border:1px solid #ccc;
height:20px;
padding:3px;
color:#ccc;
font-size:12px;
}
.region-three-25-50-25-first .panel-pane .pane-title,
.region-three-25-50-25-top .panel-pane .pane-title,
.region-three-25-50-25-third .panel-pane .pane-title{
  background: none repeat scroll 0 0 #F3F4F5;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
margin-top:0px;
}

.region-three-25-50-25-second .panel-pane .pane-title
{
 font-size:14px;
}

.region-three-25-50-25-first .panel-pane,
.region-three-25-50-25-third .panel-pane{
 margin-bottom:10px;
}

.region-three-25-50-25-first .panel-pane .pane-content .views-row a,
.region-three-25-50-25-top .panel-pane .pane-content .views-row a,
.region-three-25-50-25-third .panel-pane .pane-content .views-row a{
  border-top: 1px solid #EDEDED;
    color: #5B514C;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.1333em;
    outline: medium none;
    padding: 5px 15px;
    text-decoration: none;
}
.region-three-25-50-25-first .panel-pane .pane-content .views-row-first a,
.region-three-25-50-25-third .panel-pane .pane-content .views-row-first a,
.region-three-25-50-25-top .panel-pane .pane-content .views-row-first a{
border-top:none;
}
.region-three-25-50-25-first .panel-pane .pane-content .views-row a:hover,
.region-three-25-50-25-third .panel-pane .pane-content .views-row a:hover,
.region-three-25-50-25-top .panel-pane .pane-content .views-row a:hover{
background-color:#f3f4f5;
}
#ads-left_list{
float:left;
width:23%;
padding:1%;
}
#ads-top_block{
 float:left;
width:72%;
padding:10px;
}
.slider .views-field-field-ads-image{
width:120px;
height:100px;
float:left;
}
.slider .views-field-title,
.slider .views-field-body{
width:730px;
}
.slider .views-field-body a{
padding:0px !important;
display:inline !important;
}
.slider .views-row a:hover{
background:none !important;
color:#4BBCD7 !important;
}

#panels-ipe-paneid-44 h2{
 display:none;
}
.view-commons-contributors-group img{
width:50px;
height:50px;
}
.pane-views-exp-ads-page-1,
.pane-commons-contributors-group{
border:1px solid #ccc;
margin-bottom:10px;
}
#views-exposed-form-ads-page-1{
padding:10px;

}
#views-exposed-form-ads-page-1 .views-exposed-widget input.form-text{
width:180px;
}
.ads-page {
 padding:10px;
}
.ads-page  .views-row {
 overflow:hidden;
 clear:both;
 margin-top:10px;
 padding-bottom:10px;
border-bottom:1px dotted #ccc;
}
.ads-page  .views-row-last{
border-bottom:none;
}
.ads-page .views-row .views-field-field-ads-image{
 width:230px;
 height:200px;
 float:left;
}
.ads-page .views-row .views-field-title,
.ads-page .views-row .views-field-body{
 width:750px;
 float:left;
}
.group-content {
 overflow:hidden;
 clear:both;
 margin-bottom:10px;
 padding-bottom:10px;

}
.group-content .form-item{
 display:none;
}
.group-content .field-name-field-group-logo{
 width:120px;
 height:120px;
 float:left;
}
.group-content .field-name-field-group-logo img{
 width:100px;
 height:100px;
}
#commons-bw-partial-node-form-post .form-item-og-group-ref{
position: absolute;
background: #f3f4f5;
margin-left: 10px;
margin-top: 3px;
}
#commons-bw-partial-node-form-post .form-item-og-group-ref select{
border: none;
outline: none;
background:none;
}

.custom-view-rows{
overflow:hidden;
}
.custom-view-rows .post-content{
clear:both;
}
.field-title{
font-size:14px;
font-weight:bold;
color:#2D2D29;
margin:1em 0 1em 0 ;
}
.field-image{
float: left;
height: 120px;
width: 120px;
}
.field-image img{
width:100px;
height:100px;
}
#override-commons-post-node-form .form-item{
margin:0px;
}
#override-commons-post-node-form .form-item-og-group-ref{
position: absolute;
padding-top:5px;
}
#override-commons-post-node-form .form-item-og-group-ref .form-select{
border:none;
background:none;
}
